
<div class="comment" id={{comment._id}}>
    <div class="commentinfo">
        <div class="profilediv">
            <a href={{concat "/user/" comment.userID}}>
                <img class="profile" src={{comment.profilepath}}/>
            </a>
        </div>
        <div>
            <a href={{concat "/user/" comment.userID}}>
                <span class="comment_name">{{comment.username}} </span>
            </a>
            <span class="comment_time">{{comment.date}}</span>     
        </div>
    </div>
    <div class="commentcontent">
        <div class="attitude">
            <button class="likelabel" id={{concat comment._id "-like"}}>like {{comment.like.length}}</button>
            <button class="dislikelabel" id={{concat comment._id "-dislike"}}>dislike {{comment.dislike.length}}</button>
            <button class="reportlabel" id={{concat comment._id "-report"}}>report {{comment.report.length}}</button>
            {{#if comment.deletable}}
                <button id={{concat comment._id "-delete"}}>delete</button>
            {{/if}}
        </div>
        <div class="comment_text" >{{comment.content}}</div>
        <div class="comment_pic">
            {{#if comment.photo.length}}
                {{#each comment.photo}}
                    <img class="commentimg" src={{this}}>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
