<div class="comment">
    <div class="profilediv">
        <img class="profile"  src={{comment.profilepath}}/>
    </div>
    <div>
        <span class="comment_name">{{comment.username}} </span>
        <span>{{comment.date}}</span>     
    </div>
    <div class="del">
        <div>like</div>
        <div>dislike</div>
        <div>report</div>
    </div>
    <div class="comment_text" >{{comment.content}}</div>
    <div class="comment_pic">
        {{#if comment.photo.length}}
            {{#each comment.photo}}
                <img class="commentimg" src={{this}}>
            {{/each}}
        {{/if}}
    </div>
</div>