<h1>{{Titlename}}</h1>

<form action="edit" method="POST" id="update-game-form" class="update-game-form">
    <label for="name">Name </label>
    <input type="text" name="name" id="name" placeholder="Eg: Call of Duty" value="{{game.name}}">

    <label for="releaseDate">Release date </label>
    <input type="text" name="releaseDate" id="releaseDate" placeholder="MM/DD/YYYY" value="{{game.releaseDate}}">
    <label for="ageRating">Recommended age</label>
    <select name= "ageRating" id="ageRating" >
        <option value= 18>18+</option>
        <option value= 15>15+</option>
        <option value= 13>13+</option>
    </select>
    <label for="genre">Genre</label>
    <input type="text" name="genre" id="genre" value="{{game.genre}}">    
    <label for="description">Description</label>
    <input type="text" name="description" id="description" value="{{game.description}}">
    <label for="systemRequirements">System requirements</label>
    <input type="text" name="systemRequirements" id="systemRequirements" placeholder="Eg: RAM: 512gb, HDD: 246GB" value="{{game.systemRequirements}}">
    <label for="platform">Platform</label>
    <select name= "platform" id="platform">
        <option value= 'switch' >Switch</option>
        <option value= 'ps5'>PS5</option>
        <option value= 'pc' >PC</option>
        <option value= 'xbox'>Xbox</option>
    </select>
    <input type="hidden" name="_method" value="PUT" >
    <input type="submit" value="Update">    

</form>
{{#if isAdded}}<p>{{status}}</p>{{/if}}
{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
{{/if}}

<a href="/games/{{game._id}}">Go back to Game details page</a>