
<h1>Reviews for {{game.name}}: </h1>
{{#each reviews}}
    <div>
        <dl>Username: {{this.userName}}</dl>
        <dl>Review: {{this.review}}</dl>
        <dl>Rating: {{this.userRating}}</dl>
        {{#if (ifEqual this.userName  ../currentUser.userName) }}
            <a href="edit">Edit review</a>
        {{/if}}
    </div>
{{/each}}

<form action="" method="POST" class="add-review-form">
    <label for="review">Review</label>
    <input id="review" type="text" placeholder="Type your review" name="reviewInput">
    <label for="rating">Rating</label>
    <input id="rating" type="number" placeholder="Enter your rating(1-10)"name="ratingInput">
    <button type="submit">Add review</button>
</form>
{{#if isAdded}}<p>{{status}}</p>{{/if}}
{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
{{/if}}