{{#if profileId}}
<div class="col-md-12 text-right">
<a href="/user/{{profileId}}" class="btn btn-primary">profile</a>
</div>
{{/if}}
    <h1>Game List</h1>

    {{#if (ifEqual userRole "admin")}}
    <div class="text-center">
    <a href="/gamelist/creategame/" class="btn btn-primary">create a new game</a>
    </div>
    {{/if}}

    <form method="POST" id="getGameForm">

    <label for="platformInput">Platform: </label>
    <select name= "platformInput" id="platformInput">
        <option value="all">all</option>
        <option value="xbox">xbox</option>
        <option value="switch">switch</option>
        <option value="ps5">ps5</option>
        <option value="pc">pc</option>

    </select>

    <button type="submit" class="btn btn-primary">Filter by platform</button>


    </form>


    <form id="gerneForm" method="post">
            <label for="genreInput">Genre:</label>
            <textarea name="genreInput" id="genreInput"></textarea>
            <button type="submit" class="btn btn-primary">Filterby genre</button>

    </form>


    <form id="sortForm" method="post">
        <label for="sortWayInput">Select order</label>
        <select name= "sortWayInput" id="sortWayInput">
            <option value="-">--</option>
            <option value="ascending">ascending</option>
            <option value="descending">descending</option>

        </select>

        <label for="sortByInput">Sort by</label>
        <select name= "sortByInput" id="sortByInput">
            <option value="-">--</option>
            <option value="rate">Rate</option>
            <option value="date">Date</option>
        </select>

        <button type="submit" class="btn btn-primary">sort</button>

    </form>





        <div id="errorText">

       </div>

    {{#if showErrorMessage }}
        <p>{{showErrorMessage}}</p>
    {{/if}}



        <ol>
            {{#each sortTerm}}
            <li>
                <a href="/games/{{_id}}">{{name}}       Release date: {{releaseDate}} Genre: {{genre}} Rating: {{rating}} Platform: {{platform}} Recommended Age: {{ageRating}}</a>
            </li>
            {{/each}}

        </ol>

<script src="/public/js/gameList.js"></script>