<header><h1>{{game.name}}</h1></header>
<div>
<h2>Rating: {{game.rating}}</h2>
{{#if game.description}}
    <p>{{game.description}}</p>
{{else}}
    <p>No description</p>
{{/if}}
<h3>System requirements: </h3>
<ul>
    {{#each game.systemRequirements}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<form action="{{game._id}}" method="POST" class="add-review-form">
    <label for="review">Review</label>
    <input id="review" type="text" placeholder="Type your review" name="reviewInput">
    <label for="rating">Rating</label>
    <input id="rating" type="number" placeholder="Enter your rating(1-10)"name="ratingInput">
    <button type="submit">Add review</button>
</form>

<a href="{{game._id}}/reviews">View all reviews</a>

</div>
{{>comments commentlist=commentlist gameid=game._id}}