<h1>Add review:</h1>
<form action="/games/reviews/{{game._id}}" method="POST" id="add-review-form" class="add-review-form">
    <label for="review">Review</label>
    <textarea id="review" placeholder="Type your review" name="reviewInput"></textarea>
    <br>
    <label for="rating">Rating</label>
    <input id="rating" type="number" placeholder="Enter your rating(1-10)" name="ratingInput">
    <button type="submit" class="btn btn-primary">Add review</button>
</form>
{{#if isAdded}}<p>{{status}}</p>{{/if}}
{{#if isDeleted}}<p>{{status}}</p>{{/if}}
{{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
{{/if}}
<div id="addRatingError" class="error" hidden>Errors: 
<ul class="client-side-error-add-review" id="client-side-error-add-review"></ul>
</div>
<h1>Reviews for {{game.name}}: </h1>
{{#each reviews}}
    <div>
        <p>Username: {{this.userName}}</p>
        <p>Review: {{this.review}}</p>
        <p>Rating: {{this.userRating}}</p>
        {{#if (ifEqual this.userName  ../currentUser.userName) }}
            {{!-- <a href="edit">Edit review</a> --}}
            <form action="/games/reviews/{{../game._id}}/edit" method="GET" class="update-button">
                <input type="submit" value="Edit" class="btn btn-primary">
            </form>
        {{/if}}
        {{#if (or (ifEqual this.userName  ../currentUser.userName) (ifEqual ../currentUser.role "admin"))}}
            {{!-- <a href="delete">Delete review</a> --}}
            <form action="/games/reviews/{{../game._id}}/delete" method="POST" class="update-button">
                <input type="hidden" name="_method" value="DELETE" >
                <input type="submit" value="Delete" class="btn btn-primary">
            </form>
        {{/if}}
    </div>
{{/each}}
<div>
  <a href="/games/{{game._id}} " class="btn btn-primary">Game details page</a>
</div>

