<div class="profile">
    <img src="/public/userimages/{{id}}.png" class="profile" alt="Avatar" width="100" height="100" />
    <h2>Username</h2>
    <h3 class='profile-text'>{{username}}</h3>
    <h2>Age</h2>
    <h3 class='profile-text'>{{age}}</h3>
    <h2>Email</h2>
    <h3 class='profile-text'>{{email}}</h3>
</div>
<h3><a href="/user/{{id}}/edit">Edit profile</h3>
<h3><a href="/user/{{id}}/edit/avatar">Change profile picture</a></h3>
<h2>Reviewed Posts</h2>
{{#each posts}}
<section class="reviews">
    <h3><a href="/games/{{gameId}}">{{gameId}}</a></h3>
    <p>{{rating}} {{userReviews}}</p>
</section>
{{/each}}

{{!-- link to games comparison page --}}